/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* GLOBAL */

* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
	/* sets the body height of the browser, so that backgrounds and div heights work correctly. Color and background will almost certainly be altered; they are just placeholders */
	
body {
	font-size: 1.4rem;
	text-rendering: optimizeLegibility;
}
	/* sets the base font size for the document; turns on kerning pairs and ligatures */
	
body, ul, ol, dl {
	margin: 0;
}
article, aside, audio, 
footer, header, nav, section, video {
	display: block; 
	}
	
	/* ensures that older browsers will display HTML5 elements correctly */
	
h1 {
	font-size: 1.4rem;
}
	/* begins to set up font sizes relative to base rem – h1 has been used as an example */
	
p { 
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
} 
	/* sets hyphenation by default on paragraphs */
	
textarea { 
	resize: vertical;
}
 /* changes textarea resizing from "both" (UA default) to vertical only */
 
table { border-collapse: collapse; }
td {
	padding: .5rem;
}
	/* causes tables to actually look like tables */
	
img { 
	border: none;
	max-width: 100%;
}
	/* removes outlines from linked images (for older browsers and IE), sets up images for responsive design layout */
	
input[type="submit"]::-moz-focus-inner, 
	input[type="button"]::-moz-focus-inner {
		border : 0px;
	}
	/* removes the inner border effect from focused buttons for form elements in Firefox */
	
input[type="search"] { 
	-webkit-appearance: textfield;
} 
input[type="submit"] { 
	-webkit-appearance:none;
}
	/* removes the OS X appearance from HTML5 search inputs and submit buttons when viewed in Safari */
	
input:required:after {
	color: #f00;
	content: " *";
}
	/* sets up required form fields with the conventional following red asterisk */
input[type="email"]:invalid { 
	background: #f00;
}
	/* causes a visual alert in browsers that do client-side checking of HTML5 email field – this may already be the default in some browsers. */
	
.right { 
	float: right;
	margin-left: 2rem;
	clear: right;
}
.left { 
	float: left;
	margin-right: 2rem;
	clear: left;
}
	/* allows a quick shortcut for floating elements left and right while avoiding the “float quirk” problem */
	
sub, sup { 
	line-height: 0;
}
    /* sets superscript and subscript text so that it doesn't throw off leading for elements in which they are included */

.App {
  text-align: center;
  /* background: black; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../public/seats.jpg");  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* COMPONENTS */

.marquee {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  height: 18vh;
  margin: 25px auto;
  overflow: hidden;
  position: relative;
  border: 1px ridge #000;
  margin: 25px auto;
  color: #61dafb;  
  background-color: #222;
  -webkit-border-radius: 5px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  font-family: 'Permanent Marker', cursive;
}

.scrollUp {
  position: fixed;
  width: 100%;
  right: 100vh;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: chartreuse;
}

.leftLittleDot {
  top: 3px;
  left: 13px;
  height: 18px;
  width: 18px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 1.75s linear infinite;
}

.rightLittleDot {
  height: 18px;
  width: 18px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 1.75s linear infinite;
}

.leftDot {
  left: 30px;
  height: 25px;
  width: 25px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 3.75s linear infinite;
}
.rightDot {
  height: 25px;
  width: 25px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 3.75s linear infinite;
}


.leftBigDot {
  height: 38px;
  width: 38px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 5s linear infinite;
}

.rightBigDot {
  height: 38px;
  width: 38px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 5s linear infinite;
}

.movieCard {
  border: ridge 4px slategrey;
  margin-bottom: 10px;
  width: 50vw;
  background: orangered;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
}

/* #moviePoster {
} */

.movieTitle {
  margin-top: 0;
}

.noResultsScreen {
  background: url('/public/cyborg-face-5.png');
  background-size: 100%;
}