/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* GLOBAL */

.App {
  text-align: center;
  /* background: black; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url("../public/seats.jpg");  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-position: center;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* COMPONENTS */

.marquee {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  height: 18vh;
  margin: 25px auto;
  overflow: hidden;
  position: relative;
  border: 1px ridge #000;
  margin: 25px auto;
  color: #61dafb;  
  background-color: #222;
  -webkit-border-radius: 5px;
  border-radius: 30px;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  font-family: 'Permanent Marker', cursive;
}

.scrollUp {
  position: fixed;
  width: 100%;
  right: 100vh;
  bottom: 40px;
  height: 20px;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: chartreuse;
}

.leftLittleDot {
  top: 3px;
  left: 13px;
  height: 18px;
  width: 18px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 1.75s linear infinite;
}

.rightLittleDot {
  height: 18px;
  width: 18px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 1.75s linear infinite;
}

.leftDot {
  left: 30px;
  height: 25px;
  width: 25px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 3.75s linear infinite;
}
.rightDot {
  height: 25px;
  width: 25px;
  background-color: yellowgreen;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 3.75s linear infinite;
}


.leftBigDot {
  height: 38px;
  width: 38px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 5s linear infinite;
}

.rightBigDot {
  height: 38px;
  width: 38px;
  background-color: chartreuse;
  border-radius: 50%;
  display: inline-block;
  animation: blinker 5s linear infinite;
}

.movieCard {
  border: ridge 4px slategrey;
  margin-bottom: 10px;
  width: 50vw;
  background: orangered;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
  box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
}

/* #moviePoster {
} */

.movieTitle {
  margin-top: 0;
}
